.RestaurantList {
  &__root {
    margin: 0 auto;
    max-width: 960px;
  }

  &__controls {
    margin-bottom: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;
  }
}